<template>
  <div class="welcome">
    <div class="welcome__content">
      <span class="welcome__title">Hello friend, tell me your name...</span>
      <input
        class="welcome__username"
        type="text"
        :value="username"
        @input="updateUsername"
        placeholder="Your name here"
      />
      <router-link to="/game" class="welcome__btn">Let's go </router-link>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Welcome",
  computed: {
    ...mapState({
      username: state => state.username
    })
  },
  methods: {
    updateUsername(event) {
      this.$store.dispatch("setUsername", event.target.value);
    }
  }
};
</script>

<style lang="scss" scoped>
.welcome {
  height: 100%;
  position: relative;
}
.welcome__content {
  height: 400px;
  min-width: 350px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome__content > * {
  margin: 30px 0;
}
.welcome__title {
  font-size: 1rem;
  font-weight: bold;
}
.welcome__username {
  border: none;
  border-bottom: 1px solid #b1b1b1;
  background: none;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-style: italic;
  outline: none;
}
.welcome__username::placeholder {
  color: #b1b1b1;
}
.welcome__btn {
  width: 100px;
  align-self: center;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: 1px solid #b1b1b1;
  -webkit-box-shadow: 1px 1px 10px 5px rgba(177, 177, 177, 0.2);
  box-shadow: 1px 1px 10px 5px rgba(177, 177, 177, 0.2);
  color: #541c7c;
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
}
</style>
